# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/

# Django
db.sqlite3
*.log

# Node / React
node_modules/
dist/
build/

# OS
.DS_Store
Thumbs.db

# Generated PDF reports & charts
backend/pdf_reports/

# Django compiled files (extra safety)
backend/**/__pycache__/
